@import url('https://fonts.googleapis.com/css?family=Quicksand');

 body{
 	font-family: 'Quicksand', sans-serif;
 	
	background-color: #efefef;
	color: #333;

 }

a {
	
}

a:hover{
	
}
 /* === LOGIN === */

 	#login{
 		height: 180px;
 		width: 80%;
 		background-color: #efefef;
 	}
 	
 	 input{
 		border: 0;
 		color: #333;
 		
 		background-color: transparent;
 	}



 	fieldset{
 		
 		border-bottom: 1px solid #333;
 		color: #333;
 		
 		margin-bottom: 12px;
 		padding:0 4px;
 		font-size: 1.3em;
 		line-height: 1.4em;
 	}


.ui-datepicker-month option,
.ui-datepicker-year
{
	color:#333;
}


 /* === LOGIN === */
 

 /* === Menu === */

 .navbar-kiik
 {
 	background-color: #fff;
 }

.navbar-collapse
{
	background-color: #fff;
}

.nav > li > a:focus, 
.nav > li > a:hover
{
 background-color: rgba(255,255,255,0.5);
}
 /* === Menu === */



 /* === Bootstrap === */
 	.btn{
 		border-radius: 0;
 	}

 	a.list-group-item:focus, a.list-group-item:hover{
 		background-color: #ce92f3;
 		color: #fff;

 	}
 	a.list-group-item
 	{
 		color: #FFF;
		text-decoration: none;
		background-color: #f3ad92;
 	}
	
	.list-group-item{
		
	}
 /* === Bootstrap === */
 

 /* === Library === */
 .centered{
 	position: absolute;

 	top:0;
 	bottom:0;
 	left: 0;
 	right: 0;

 	margin: auto;
 }

 iframe{
 	width: 100%;
 	height: 150px;
 }

 /* === Library === */